html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	scroll-behavior: smooth;
}
body {
	line-height: 1;
    overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    resize: none;
    height: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    background: #220101;
    line-height: 1.3;
}

p {
  line-height: 24px;
}

* {
    box-sizing: border-box;
}

.clear::after {
    display: table;
    content: " ";
    clear: both;
}

#nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background: #220101;
    z-index: 99;
}

.bg-dim {
  background-color: #220101 !important;
}
.dark {
  background: #262533;
}

#nav a {
  line-height: 90px;
  color: #fff;
  text-decoration: none;
  font-size: 12px;
}

.nav-a.router-link-active.router-link-exact-active {
  font-weight: bold;
}

.container {
    position: relative;
    display: block;
    width: calc( 100% - 60px );
    margin: auto;
    max-width: 1140px;
}

.nav-links {
    float: right;
    width: 70%;
    text-align: right;
}

.nav-links a {
    padding: 0 15px;
}

.material-icons.v {
    vertical-align: middle;
}

.point {
  background-image: url(./point.png);
}

.line {
  display: block;
  width: 100%;
  max-width: 80px;
  height: 5px;
  background: white;
}

h1.hero {
  font-size: 72px !important;
}

.socials svg {
  width: 50px;
  opacity: 0.5;
}

@media screen and (max-width: 900px) {
  .item-image {
    height: 300px;
  }
  h1.hero {
    font-size: 42px !important;
  }
}

.avatar {
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
}

.avatar img {
  top: 0;
  left: 0;
  position: absolute;
}

.fade-in {
  opacity: 1;
}

.lang-wrap span:nth-of-type(1) {
    font-weight: bold;
}

.blob { 
  position: absolute;
  width: 650px;
  height: 650px;
  opacity: .3;
  right: 20%;
  top: 100px;
}

.lang-wrap .text-secondary:nth-of-type(1) {
  font-weight: 400;
  background: #220101;
  color: #fff !important;
  padding: 5px 10px;
  border-radius: 4px;
}

.btn-sm {
  background: linear-gradient(315deg,#d34242 25%,#ff6464) !important;
  border: none;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
}

.btn-primary {
  background-color: #b51a29;
  border-color: #b51a29;
}

.btn-primary:hover {
  background-color: #b51a29;
  border-color: #b51a29;
}

@media screen and (min-width: 768px) {
  .work-details {
    position: relative;
  }
  .work-details::before {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -30px;
    border-left: 1px dashed #433e41;
  }
}

em {
  font-style: normal;
  background: linear-gradient(315deg,#ff4646 25%,#ffc7fd);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

i { font-style: normal; }
i a {
  color: #797979 !important;
  text-decoration: none;
}

.pulse-red {
  box-shadow: 0 0 0 #b51a29;
  animation: pulse 2s infinite
}

@keyframes pulse {
  0% {
      box-shadow: 0 0 0 0 #b51a29
  }

  70% {
      box-shadow: 0 0 0 10px rgba(204,169,44,0)
  }

  100% {
      box-shadow: 0 0 0 0 rgba(204,169,44,0)
  }
}
.pulse {
  box-shadow: 0 0 0 #000;
  animation: pulse-dark 1.5s infinite
}

@keyframes pulse-dark {
  0% {
      box-shadow: 0 0 0 0 #000
  }

  70% {
      box-shadow: 0 0 0 10px rgba(0,0,0,0)
  }

  100% {
      box-shadow: 0 0 0 0 rgba(0,0,0,0)
  }
}
.p-small {
  font-size: 14px;
  opacity: .7;
}

.hello {
  height: 400px;	
  overflow: hidden;
  position: relative;
  width: 100%;
}
 .hello h3 {
  font-size: 200px;
  color: #26091a;
  font-weight: 900;
  margin: 0;
  line-height: 300px;
  text-align: center;
  letter-spacing: 15px;
  white-space: nowrap;
}
.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 32s linear infinite;
  bottom: -100px;
}
@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}


@media screen and (max-width: 600px) {
  .featured-work {
    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .hello { height: 300px; }

}

.feature-column {
  border-top: 1px solid #331828;
  padding: 30px 0;
}


.feature-column .h1 {
  font-size: 30px;
  line-height: 60px;
}

.featured-image-wrapper {
  max-width: 300px;
}

.featured-image {
  padding-top: 65%;
  border-radius: 5px;
  margin-bottom: -34px;
  background-size: 220px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 40px;
}

@media screen and ( max-width: 767px ) {
  .featured-image-wrapper {
    max-width: 100%;
    margin-top: 15px;
  }
}

.hero-large {
  padding: 30px 0;
  font-size: 60px;
  line-height: 60px;
}

.feature-column.modern {
  cursor: pointer;
}

.floating-image {
  position: fixed;
  width: 400px;
  height: 300px;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  pointer-events: none;
  z-index: 2;
  transition: opacity .55s, transform .55s, background-color .5s;
  border-radius: 4px;
  overflow: hidden;
}

.floating-circle {
  width: 40px; height: 40px;
  background:  rgba(0,0,0,0.75);
}

.circle-container:hover .floating-image {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.feature-column.modern {
  transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.feature-column.modern:hover {
  opacity: .55;
}

.fw-small {
  cursor: pointer;
  font-size: 12px;
  position: relative;
}

.fw-small::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  height: 1px;
  width: 0;
  background: #fff;
  transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.fw-small.on::after {
  width: 100%;
}

.input-wrap {
  padding: 40px 60px;
  border-top: 1px solid #331828;
  z-index: 2;
}

.input-wrap textarea,
.input-wrap input {
  background: transparent;
  bottom: none;
  display: block;
  width: 100%;
  border: none;
  padding-top: 15px;
  outline: none;
  color: #797979;
}

.form-counter {
  top: 40px;
  left: 10px;
  color: #797979;
  font-size: 12px;
}

.input-wrap-container {
  z-index: 2;
}

.hello-contact {
  margin-top: -200px;
  z-index: 1;
}

input:auto-fill {
  background-color: transparent !important;
}

.floating-window {
  width: 220px;
  height: calc( 100% - 40px );
  background-size: 220px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 0;
  top: 40px;
  opacity: 0;
  transform: translateX(-50%) translateY( 60px );
  transition: transform .3s ease, opacity .3s ease;
}

.floating-window.off {
  transform: translateX(-50%) translateY(0);
  opacity: 1;
}

.opacity-75 { opacity: .75; }
.opacity-5 { opacity: .5; }
.opacity-3 { opacity: .3; }

.position-relative-soft { position: relative; }

.slide-fade-enter-active {
  transition: all 0.5s ease;
}

.slide-fade-leave-active {
  transition: all 0.5s ease;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  opacity: 0;
  position: absolute;
}

.slide-fade-enter-from {
  transform: translateY(5px);
}

.slide-fade-leave-to {
  transform: translateY(0);
}

.page-fade-enter-active {
  transition: all 0.5s ease;
}

.page-fade-leave-active {
  transition: all 0.5s ease;
}

.page-fade-enter-from,
.page-fade-leave-to {
  opacity: 0;
  position: absolute;
}

.page-fade-enter-from {
  transform: translateY(5px);
}

.page-fade-leave-to {
  transform: translateY(0);
}

.blob svg {
  width: 100%;
  height: 100%;
}